@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fragment+Mono:ital@0;1&family=Noto+Sans+JP:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Tilt+Neon&display=swap");

body {
  background-color: #131316;
  color: white;
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

/* CSS FOR ANIMATIONS */
/* .basic-hidden {
  opacity: 0;
  transition: all 5s;
} */
/* .basic-show {
  opacity: 1;
} */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* styles to apply if the user's settings 
  are set to reduced motion for accessibility reasons, usually */
@media (prefers-reduced-motion) {
  .hidden {
    /* overwrite the other transition effect with none */
    transition: none;
  }
}
